.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 418px; 
    height: 234px; 
    margin-bottom: 30px;
}

button{
    width: 150px; 
    height: 30px; 
    font-size: 16px;
}

@media only screen and (max-width: 600px){

    img{
        width: 230px; 
        height: 130px; 
        margin-bottom: 30px;
    }

    
  }