<mat-card>
    <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title class="title">{{(post$ | async)!.title}}</mat-card-title>
    <div class="margin">
        <mat-card-subtitle class="details">
            <p>{{((post$ | async)?.createdAt) | date: 'dd MMM yyyy'}}</p>
            <p>Auteur : {{(author$ | async)?.userName}}</p>
            <p>Thème : {{(topic$ | async)?.name}}</p>
        </mat-card-subtitle>
        <mat-card-content>
            <p>{{(post$ | async)?.text}}</p>
        </mat-card-content>
        <div class="separator"></div>
        <mat-card-title class="comment-title">Commentaires</mat-card-title>
        <mat-card-content>
    
        </mat-card-content>
    </div>
</mat-card>
