<div (window:resize)="handleSize($event)">
    <div class="header" *ngIf="!smallScreen">
        <img mat-list-item src="/assets/logo_p6.png" alt="MDD">
    </div>
    <button mat-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="title">
        <img *ngIf="smallScreen" mat-list-item src="/assets/logo_p6.png" alt="MDD">
        <h1 class="title" *ngIf="funct=='register'; else title">Inscription</h1>
        <ng-template #title><h1 class="title">Connexion</h1></ng-template>
    </div>
    <div class="center">
        <form class="center" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field *ngIf="funct=='register'">
                <input matInput placeholder="Nom" formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="funct=='login'" class="rememberMe">
                <span>Rester connecté</span>
                <mat-checkbox color="primary" formControlName="rememberMe"></mat-checkbox>
            </div>
            <button mat-raised-button class="submit" color="primary" type="submit" [disabled]="form.invalid">
                <span *ngIf="funct=='register'; else login">S'inscrire</span>
                <ng-template #login>Se connecter</ng-template>
            </button>
            <span *ngIf="onError" class="error">Une erreur s'est produite</span>
        </form>
    </div>
</div>