<div *ngIf="isLogged$ | async" (window:resize)="handleSize($event)" style="border: 2px; box-shadow: 0px 2px 12px 2px rgb(185, 181, 178); margin-bottom: 10px;">
    <mat-nav-list  class="list-horizontal">
        <img mat-list-item src="/assets/logo_p6.png" alt="#" style="width: 100px; height: 50px;">
        <div class="list-horizontal" *ngIf="!smallScreen" style="position: relative; margin-right: 5px; margin-left: auto;">
            <a mat-list-item routerLink="post" style="width: 100px; height: 50px;"><span style="padding-left: 2%; font-size: large; font-weight: bold;">Articles</span></a>
            <a mat-list-item routerLink="topic" style="width: 100px; height: 50px; margin-right: 50px;"><span style="padding-left: 2%; font-size: large; font-weight: bold;">Thèmes</span></a>
            <a mat-list-item routerLink="profil" style="width: 50px; height: 50px; margin-right: 20px;"><img src="/assets/user.png" style="margin-left: -10px; width: 40px; height: 80%;"></a>
        </div>
        <button mat-icon-button *ngIf="smallScreen" (click)="sidenav.toggle()" style="position: relative; margin-right: 5px; margin-left: auto;  margin-top: 5px;">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-nav-list>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" position="end" closed (openedChange)="navBarOpened($event)" fixedInViewport="true" >
            <mat-nav-list  class="list-vertical" >
                    <a mat-list-item routerLink="post" style="width: 120px; height: 50px;"><span style="padding-left: 10%; font-size: large; font-weight: bold;">Articles</span></a>
                    <a mat-list-item routerLink="topic" style="width: 120px; height: 50px;"><span style="padding-left: 10%; font-size: large; font-weight: bold;">Thèmes</span></a>
                    <div [ngStyle]="{'height': (windowHeight-(180))+'px'}"></div>
                    <a mat-list-item routerLink="profil" style="width: 120px; height: 50px;"><img src="/assets/user.png" style="padding-left: 20%; width: 65%; height: 100%;"></a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content [ngStyle]="{'min-height': (windowHeight-69)+'px'}">
            <router-outlet style="overflow: scroll; overflow-x: hidden;
            overflow-y: overlay;"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<router-outlet *ngIf="!(isLogged$ | async)"></router-outlet>

